/* some style */
* {
  box-sizing: border-box;
}

.box {
  padding: 10px;
  padding-top: 30px;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
  position: relative;
}

.label {
  display: block;
  padding: 2px;
  background-color: rgba(0,0,0,0.1);
}

.box > .label {
  position: absolute;
  top: 0;
  left: 0;
}